// Bootstrap fonts config
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/fullpage.js/jquery.fullPage.scss";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";
// endbower

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700");
@import url("https://fonts.googleapis.com/css?family=Lobster|Nunito:400,300,700");

// Varables
@import "modules/varables";

// Mixin
@import "modules/mixin";

// Mixin
@import "modules/page__mixin";

// Extend & Helper
%fllpage {
  height: 100vh;
  width: 100vw;
}
%h5 {
  margin: 40px 0 0;
  color: rgba(255,255,255,.5);
}
.transformall--300 {
  transition: all 0.3s ease-in-out;
}
.cw {
  color: rgba(255,255,255,0.6);
}
%fl {
  float: left;
}
%fr {
  float: right;
}

body {
  font-family: $opensans;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000000;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
  font-family: Nunito;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// h1, h2, h3 {font-family: alba;}
h1 {font-size: 10*$basefont;}
h2 {font-size: 8*$basefont;}
h3 {font-size: 6*$basefont;}
p {line-height: 1.8;}
p + .btn {
  margin-top: 2em;
  margin-top: 2rem;
}

@import 'partials/btn';

.form-control {
  border-radius: 0;
  box-shadow:0 0 0 0;
  height: 50px;
  margin:15px 0;
  &:hover , &:focus{
    box-shadow:0 0 0 0;
    border:1px solid $color-primary;
  }
}




// header
@import "partials/header";

// section
section {
  &:nth-child(odd) {
    // background: $color-page-odd;
    .form-control {border: 1px solid white;}
  }
  &:nth-child(even) {
    // background: $color-page-even;
    .form-control {border: 1px solid $color-grey;}
  }
}
[class$="-caption"] {
  @include make-xs-column(6);
  h3 {
    font-family: 'Lobster', cursive;
    letter-spacing: -.1rem;
    font-weight: 400;
  }
  .home & {
    @extend %fl;
  }
  .about & {
    @extend %fr;
  }
  .service & {
    @extend %fl;
  }
  .team & {
    float: right;
    @include make-xs-column(5);
  }
  .joinus & {
    @extend %fl;
  }
  .blog & {
    @extend %fr;
  }
  .contact & {
    @extend %fl;
  }
}
[class$="-visual"] {
  @include make-xs-column(6);
  .home & {
    @extend %fr;
  }
  .about & {
    @extend %fl;
  }
  .service & {
    @extend %fr;
  }
  .team & {
    @extend %fl;
    @include make-xs-column(7);
  }
  .joinus & {
    @extend %fr;
  }
  .blog & {
    @extend %fl;
  }
  .contact & {
    @extend %fr;
  }
}

// section
@import "partials/home";

/* -------------------- about -------------------- */
.about {
}
/* -------------------- service -------------------- */
.service {
  @include sectionGradient($section-02);
  @extend .cw;
}
/* -------------------- team -------------------- */
.team {
  height: 100vh;
  width:100vw;
  &-fig {
    // @include make-md-column(7);
    overflow:hidden;
    img{
      max-width:100%;
      @extend .transformall--300;
    }
  }
  &-figs {
    @include make-xs-column(6);
    & > div {
      &:nth-of-type(even) {
        margin-top:30px;
      }
    }
    &:nth-of-type(odd) {
      & >  div {
        border:15px solid #ddd;
        background-position:50% 50%;
        overflow:hidden;
        &:nth-of-type(odd) .image-holder {
          background:url('../images/team/team1.jpg') no-repeat;
          height: 33vh;
          @include team-photo-anm;
        }
        &:nth-of-type(even) .image-holder {
          background:url('../images/team/team3.jpg') no-repeat;
          height: 22vh;
          @include team-photo-anm;
        }
      }
    }
    &:nth-of-type(even) {
      & > div{
        border:15px solid #ddd;
        overflow: hidden;
        &:nth-of-type(odd) .image-holder {
          height:22vh;
          background:url('../images/team/team2.jpg');
          @include team-photo-anm;
        }
        &:nth-of-type(even) .image-holder {
          height: 33vh;
          background:url('../images/team/team4.jpg');
          @include team-photo-anm;
        }
      }
    }
    // height: 100vh;
    // width:100vw;
  }

  &:nth-of-type(odd) > div:nth-of-type(odd) .image-holder:hover,
  &:nth-of-type(odd) > div:nth-of-type(even) .image-holder:hover,
  &:nth-of-type(even) > div:nth-of-type(odd) .image-holder:hover,
  &:nth-of-type(even) > div:nth-of-type(even) .image-holder:hover {
    transform: scale(1.1) rotate(1deg);
  }
}

/* -------------------- joinus -------------------- */
.joinus {
  @include sectionGradient($section-03);
  @extend .cw;
  // padding: 20vh 0;
  width:100% !important;
  &-visual {
    @include make-md-column(6);
    text-align: center;
  }
  #swingTshirt {
    margin-top:30px;
  }
  &-caption {
    @include make-md-column(6);
    @include section-caption;
  }
  width: 100vw;
  height: 100vh;
  .animated {
    animation-duration: 4s;
  }
  #swingTshirt {
    position: absolute;
    // top:10vh;
    top: 1vh;
    left: 10vh;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  &-caption {
    text-align: right;
  }

  .form-group {
    @include make-xs-column(6);
    &:nth-of-type(2) {
      padding-right: 0px;
    }
    .form-control::-webkit-input-placeholder{
      @include fonts($opensans,14px,400,$color-grey);
      border-radius:0px;
    }
  }
  .form-group1{
    float: right;

  }
  .fileUpload {
      position: relative;
      overflow: hidden;
      margin:10px;
      padding:4px 0;
      float: left;
      span{
        @include fonts($opensans,15px,400,white);
        margin-left:7px;
      }
  }
  .btns {
    color: white;
    height: 40px;
    width: 170px;
    // background: white;
    text-align: center;
    border-right:1px solid rgba(255,255,255,0.5);
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  button {
    margin:10px 0 10px 15px;
    border-radius:0px;
    height:40px;
    padding:10px 0;
    &:focus{
      box-shadow:0 0 0 0;
      color:white;
    }
  }

  .custswing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: custswing;
    animation-name: custswing;
  }
  .jabs {
    list-style-type: none;
    margin: 1em 0;
    margin: 2rem 0;
    .jab {
      a {
        color: #fff;
        // text-decoration: none;
      }
    }
  }
}
/*------------------ Keyframe ----------------------*/

@keyframes custswing {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 10deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

// joinus
@import "partials/joinus";

// contact
@import "partials/contact";
.form-group {
  @include make-sm-column(6);
  &:nth-of-type(3){
    @include make-sm-column(12);
  }
}
// footer
@import "partials/footer";

.arrow {
  width:30px;
  height: 30px;
  display: block;
  position:relative;
  margin:0 auto;
  border-radius:50%;
  border: 1px solid $color-grey;
  &:after, &:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    left: 48%;
    border-right: 1px dotted $color-grey;
  }
  &:after {
    top: -41px;
  }
  &:before {
    bottom: -41px;
  }
  i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: $color-grey;
    transform: translateY(-50%);
  }
  &:hover {
    color: $color-grey;
  }
}
@keyframes custbounce {
  0%{
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-65%);
  }
  100% {
    transform: translateY(-35%);
  }
}
.custbounce {
  animation-name: custbounce;
}
.fa-angle-down.animated.custbounce {
  -webkit-animation-iteration-count: infinite;
  animation-delay:5s;
}
h1.headline-fouri {
  @include ir;
  margin:10px 0;
}
