// Varables
@import "modules/varables";

// Mixin
@import "mixin";

// Bootstrap fonts config
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/fullpage.js/jquery.fullPage.scss";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";
// endbower


%fllpage {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: $opensans;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  .logo {
    width: 229px;
    height: 58px;
    background-image: url('../images/cepave-logo-w.svg');
    background-repeat: no-repeat;
    float: left;
    @include make-xs-column(6);
    .fp-viewing-aboutPage & {
      background-image: url('../images/cepave-logo-c.svg');
    }
    .fp-viewing-teamPage & {
      background-image: url('../images/cepave-logo-c.svg');
    }
    .fp-viewing-blogPage & {
      background-image: url('../images/cepave-logo-c.svg');
    }
  }
  .menu-container {
    @include make-xs-column(6);
  }
  .navbars {
    float: right;
    .icon-bar {
      display: block;
      width: 22px;
      height: 3px;
      background: #ffffff;
      margin-bottom: 6px;
      margin-right: 10px;
      .fp-viewing-aboutPage & {
        background: $color-grey;
      }
      .fp-viewing-teamPage & {
        background: $color-grey;
      }
      .fp-viewing-blogPage & {
        background: $color-grey;
      }
    }
  }
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($nav-menu--bg,1);
    padding: 100px 30px;
    transition:all 0.5s ease-in-out;
  }
  .navbar-wrapper {
    list-style-type: none;
    li {
      text-transform: uppercase;
      border-bottom: 1px solid rgba(255,255,255,.2);
      padding: 10px;
      &.active {
        a { color: $color-primary !important; }
      }
      a {
        @include fonts($opensans,15px,300,rgba(255,255,255,.4));
        transition:all 0.3s ease-in-out;
        padding: 17px;
        display: block;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  .nav-menu-open {
    left: 70%;
  }
  .close-btn {
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
  }
}

.footer {
  position: fixed;
  bottom:0 ;
  left: 0;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  z-index:99;
}

section {
  &:nth-child(odd) {
    // background: $color-page-odd;
  }
  &:nth-child(even) {
    // background: $color-page-even;
  }
}
[class$="-caption"] {
  @include make-xs-column(6);
  h3 {
    font-family: alba;
    font-size: 12rem;
    letter-spacing: -.1rem;
    font-weight: 400;
  }
  .home & {
    float: left;
  }
  .about & {
    float: right;
  }
  .service & {
    float: left;
  }
  .team & {
    float: right;
  }
  .joinus & {
    float: left;
  }
  .blog & {
    float: right;
  }
  .contact & {
    float: left;
  }
}
[class$="-visual"] {
  @include make-xs-column(6);
  .home & {
    float: right;
  }
  .about & {
    float: left;
  }
  .service & {
    float: right;
  }
  .team & {
    float: left;
  }
  .joinus & {
    float: right;
  }
  .blog & {
    float: left;
  }
  .contact & {
    float: right;
  }
}
// section
/* -------------------- home -------------------- */

.home {
  // @extend %fllpage;
  background-image: linear-gradient(-20deg, nth($section-01, 1) 20%, nth($section-01, 2) 80%);
}
/* -------------------- about -------------------- */
.about {
}
/* -------------------- service -------------------- */
.service {
  background-image: linear-gradient(-20deg, nth($section-02, 1) 20%, nth($section-02, 2) 80%);
}
/* -------------------- team -------------------- */
.team {
}
/* -------------------- joinus -------------------- */
.joinus {
  background-image: linear-gradient(-20deg, nth($section-03, 1) 20%, nth($section-03, 2) 80%);
}
/* -------------------- joinus -------------------- */
.blog {
}
/* -------------------- contact -------------------- */
.contact {
  background-image: linear-gradient(-20deg, nth($section-04, 1) 20%, nth($section-04, 2) 80%);
  h3 {
    color: #ffffff;
    text-shadow: .2rem .2rem 1rem rgba(0,0,0,0.25);
  }
  .map-wrap { height: 340px;}
  h1.headline-fouri {
    font-size: 24px;
    font-weight: 400;
    color: $color-primary;
    margin-top: 10px;
  }
}

// footer
.footer{
  background:transparent;
  position: fixed;
  bottom:0;
  left:0;
  padding: 30px 0;
  width:100vw;
  transition:all 0.3s ease-in-out;
  color:rgba(255,255,255,0.5);
  z-index:99;
}
.arrow {
  width:30px;
  height: 30px;
  display: block;
  position:relative;
  margin:0 auto;
  border-radius:50%;
  border: 1px solid $color-grey;
  &:after, &:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    left: 48%;
    border-right: 1px dotted $color-grey;
  }
  &:after {
    top: -41px;
  }
  &:before {
    bottom: -41px;
  }
  i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: $color-grey;
    transform: translateY(-50%);
  }
  &:hover {
    color: $color-grey;
  }
}
@keyframes custbounce {
  0%{
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-65%);
  }
  100% {
    transform: translateY(-35%);
  }
}
.custbounce {
  animation-name: custbounce;
}
.fa-angle-down.animated.custbounce {
  -webkit-animation-iteration-count: infinite;
  animation-delay:5s;
}
