// Bootstrap fonts config
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/fullpage.js/jquery.fullPage.scss";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";
// endbower

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700");
@import url("https://fonts.googleapis.com/css?family=Lobster|Nunito:400,300,700");

// Varables
@import "modules/varables";

// Mixin
@import "modules/mixin";

// Mixin
@import "modules/page__mixin";

// Extend & Helper
%fllpage {
  height: 100vh;
  width: 100vw;
}
%h5 {
  margin: 40px 0 0;
  color: rgba(255,255,255,.5);
}
.transformall--300 {
  transition: all 0.3s ease-in-out;
}
.cw {
  color: rgba(255,255,255,0.6);
}
%fl {
  float: left;
}
%fr {
  float: right;
}
%horizontal-center {
  margin-left: auto;
  margin-right: auto;
}
%vertical-center {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

body {
  font-family: $opensans;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000000;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
  font-family: Nunito;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// h1, h2, h3 {font-family: alba;}
h1 {font-size: 10*$basefont;}
h2 {font-size: 8*$basefont;}
h3 {font-size: 6*$basefont;}
p {line-height: 1.8;}
p + .btn {
  margin-top: 2em;
  margin-top: 2rem;
}

@import 'partials/btn';

.form-control {
  border-radius: 0;
  box-shadow:0 0 0 0;
  height: 50px;
  margin:15px 0;
  &:hover , &:focus{
    box-shadow:0 0 0 0;
    border:1px solid $color-primary;
  }
}




// header
@import "partials/header";

// section
section {
  &:nth-child(odd) {
    // background: $color-page-odd;
    .form-control {border: 1px solid white;}
  }
  &:nth-child(even) {
    // background: $color-page-even;
    .form-control {border: 1px solid $color-grey;}
  }
}
[class$="-caption"] {
  @include make-xs-column(6);
  h3 {
    font-family: 'Lobster', cursive;
    letter-spacing: -.1rem;
    font-weight: 400;
  }
  .home & {
    @extend %fl;
  }
  .about & {
    @extend %fr;
    @include make-xs-column(6);
  }
  // .service & {
  //   @extend %fl;
  // }
  .team & {
    @extend %fl;
    @include make-xs-column(5);
  }
  .joinus & {
    @extend %fr;
  }
  .blog & {
    @extend %fl;
  }
  .contact & {
    @extend %fr;
  }
}
[class$="-visual"] {
  @include make-xs-column(6);
  .home & {
    @extend %fr;
  }
  .about & {
    @extend %fl;
    @include make-xs-column(6);
  }
  // .service & {
  //   @extend %fr;
  // }
  .team & {
    @extend %fr;
    @include make-xs-column(7);
  }
  .joinus & {
    @extend %fl;
  }
  .blog & {
    @extend %fr;
  }
  .contact & {
    @extend %fl;
  }
}

// section
@import "partials/home";

// about
.about {
}
@import "partials/about";


// team
.team {
  @include sectionGradient($section-02);
  @extend .cw;
}
@import "partials/team";

// joinus
.joinus {
}
@import "partials/joinus";

// blog
.blog {
  @include sectionGradient($section-03);
  @extend .cw;
}
@import "partials/blog";

// contact
.contact {
}
@import "partials/contact";

.form-group {
  @include make-sm-column(6);
  &:nth-of-type(3){
    @include make-sm-column(12);
  }
}
// footer
@import "partials/footer";


.custbounce {
  animation-name: custbounce;
}
.fa-angle-down.animated.custbounce {
  -webkit-animation-iteration-count: infinite;
  animation-delay:5s;
}
h1.headline-fouri {
  @include ir;
  margin:10px 0;
}

