/*
 contact
 */
.contact {
  &-caption {

    &__title {
      color: #ffffff;
      text-shadow: .2rem .2rem 1rem rgba(0,0,0,0.25);
    }
    &__subtitle {
      font-size: 3rem;
      @extend %h5;
    }
  }

  // work ad
  .work-ad {
    margin: 20px 0;
    padding: 25px;
    display: inline-block;
    background: $orange;
    text-align: left;
    &-info {
      @include make-xs-column(9);
    }
    &-img {
      @include make-xs-column(3);
    }
    &__title {
      @include fonts($nunito , 2.4rem , 300 , rgba(255,255,255,0.6));
    }
    &__description {
      float: none;
      color: rgba(255,255,255,0.6);
    }
  }

  .form-group {
    @include make-xs-column(6);
    margin-bottom: 0;
    &:nth-of-type(1) {
      padding-left: 0;
    }
    &:nth-of-type(2) {
      padding-right: 0;
    }
  }
  .form-group1 {
    float: left;
    width: 100%;
    textarea { width:100%; resize:none; }
  }
  .contact-form__sumbit {
    float:right;
    @extend .btn;
    @extend .btn-black;
  }
}

  // map
  .map-wrap {
    height: 320px;
    & + #contact {
      margin-top: 15px;
    }
  }
  h1.headline-fouri {
    font-size: 24px;
    font-weight: 400;
    color: $color-primary;
    margin-top: 10px;
  }
