@mixin fonts($family, $size, $weight, $color) {
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin ir($height:99) {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  border: 0 none;
}
