// ------------------------------------------------------------
// Varables

// :: Font
// :: Color
// ;; Site Setting
// ------------------------------------------------------------


// ------------------------------------------------------------
// :: Font
// ------------------------------------------------------------
@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
$opensans: 'cwTeXHei', 'Open Sans', sans-serif;


// ------------------------------------------------------------
// :: Color
// ------------------------------------------------------------
$color-primary: #7fad41;
$color-secondary: #55829E;
$color-tertiary: #252729;


// ------------------------------------------------------------
// :: Site Setting
// ------------------------------------------------------------
$color-page-odd: $color-primary;
$color-page-even: #fff;
$color-grey: #87919a;

$nav-menu--bg: $color-tertiary;
$section-01: #1F242E, #414345;
$section-02: #4B6161, #395673;
$section-03: #1A627A, #1A5A7A;
$section-04: #C9614D, #C94D61;
