// ------------------------------------------------------------
// Varables

// :: Color
// ;; Site Setting
// ------------------------------------------------------------


// ------------------------------------------------------------
// :: Color
// ------------------------------------------------------------
$color-primary: #7fad41;


// ------------------------------------------------------------
// :: Site Setting
// ------------------------------------------------------------
$color-page-odd: $color-primary;
$color-page-even: #fff;