footer.footer
  .container
    .row
      a#go.arrow(href='#next', data-scrollify-event='panel:next')
        i.fa.fa-angle-down.animated.custbounce
      i.fa.fa-copyright
      a(href='#') Copyright, 2015 CEPAVE
