header.header
  .container(data-menuanchor='mainPage')
    .row
      .logo
      .menu-container
        nav.navbars
          a.js-nav-btn(href='javascripr:;')
            span.hamburger-bar
            span.hamburger-bar
            span.hamburger-bar
          .nav-menu-wrapper
            a.close-btn
              img(src='images/icons/close.svg')
            ul.nav-menus(id='menu')
              li.nav-menus__item.active(data-menuanchor="mainPage")
                a(href='#mainPage') Home
              li.nav-menus__item(data-menuanchor="aboutPage")
                a(href='#aboutPage') About Us
              //- li.nav-menus__item(data-menuanchor="servicePage")
              //-   a(href='#servicePage') Service
              li.nav-menus__item(data-menuanchor="teamPage")
                a(href='#teamPage') Team
              li.nav-menus__item(data-menuanchor="joinusPage")
                a(href='#joinusPage') join Us
              li.nav-menus__item(data-menuanchor="blogPage")
                a(href='#blogPage') blog
              li.nav-menus__item(data-menuanchor="contactPage")
                a(href='#contactPage') Contact us
        .social
          a.icon-social.icon-fb(href='#')
          a.icon-social.icon-gplus(href='#')
          a.icon-social.icon-twitter(href='#')

