header.header
  .container
    .row
      .logo
        img(src="http://placehold.it/200x100/bdce34/ffffff?text=cepave", alt="cepave-logo")
      .menu-container
        nav.navbars
          a.button-nav(href='javascripr:;')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-menu
            a.close-btn
              i(class="fa fa-times")
            ul
              li
                a(href='#') Home
              li
                a(href='#') About Us
              li
                a(href='#') Service
              li
                a(href='#') Team
              li
                a(href='#') join Us
              li
                a(href='#') blog
              li
                a(href='#') Contact us
