header.header
  .container(data-menuanchor='mainPage')
    .row
      .logo
      .menu-container
        nav.navbars
          a.button-nav(href='javascripr:;')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-menu
            a.close-btn
              img(src='images/icons/close.svg')
            ul.navbar-wrapper(id='menu')
              li.active(data-menuanchor="mainPage")
                a(href='#mainPage') Home
              li(data-menuanchor="aboutPage")
                a(href='#aboutPage') About Us
              li(data-menuanchor="servicePage")
                a(href='#servicePage') Service
              li(data-menuanchor="teamPage")
                a(href='#teamPage') Team
              li(data-menuanchor="joinusPage")
                a(href='#joinusPage') join Us
              li(data-menuanchor="blogPage")
                a(href='#blogPage') blog
              li(data-menuanchor="contactPage")
                a(href='#contactPage') Contact us
