section.section(class="about", id="about_Page", data-anchor="abouPpage")
  .container
    .row
      .about-caption
        h3 cepave
        p Cepave 於 2015 年成立，是一家新型態網路科技公司，專注於開發大規模的網路應用系統。以直覺、人性化的操作介面來管理網路設備，提供智慧平台分析網路趨勢。母集團是 NASDAQ 上市公司，代號：VNET。
        p 我們是有野心、有膽識、有創業想法、勇於自我挑戰、喜歡 hackthon、熱愛學習新技術。