section.section(class="blog", id="blog_Page", data-anchor="blogPage")
  .container
    .row
      .blog-visual
        a.item.clearfix(href='javascript:;')
          .blog-fig
            .blog-containers
          .blog-figc
            h6
              | 23 JULY 2015
              span.space /
              span.author Kordan Ou
            h5 以 Go 語言快速實作 HTTP GET/POST API
            p 維基百科中提到： 目前在三種主流的Web服務實現方案中，因為REST模式與複雜的SOAP和XML-RPC相比更加簡潔，越來越多的web服務開始採用REST風格設計和實現。 ...  »
        a.item.clearfix(href='blog-details.html')
          .blog-fig
            .blog-containers
          .blog-figc
            h6
              | 02 JULY 2015
              span.space /
              span.author Minimum
            h5 在 GCP 建立 Docker 私有倉庫
            p 說明 在 Google Cloud Platform (GCP)，利用 Cloud Storage 作為 Docker images 的私有倉庫儲存空間。 ...  »
      .blog-caption
        h3
          | Our
          span Blog
        h5
          | Upgrade yourself with
          span our latest news
        a.blog-btn.btn.btn-orange(href='javascript:void(0)') view more