section.section(class="joinus", id="joinus_Page", data-anchor="joinPspage")
  .container
    .row
      .joinus-visual
        img#swingTshirt.animated.custswing(src='images/team/tshirt.png', alt='image')
      .joinus-caption
        .row
          h3 Join us
          p 在 Cepave 中，即便是剛畢業的工程師，全年底薪也會至少新台幣 70 萬以上（以 14 個月計算）；資深工程師全年底薪至少百萬。
          p 我們的團隊文化新創、工作效率新創，但是待遇不新創。我們用盡可能高的待遇爭取人才，因為我們相信：在新創公司打拚，薪水不必委屈！
          p 具體薪資依據能力以及各種條件而定，等您來挑戰上限！
          ul.jabs
            li.jab <a href='javascri[t:;'>軟體工程師 - [Front End]</a>
            li.jab <a href='javascri[t:;'>軟體工程師 - [Network Infrastructure]</a>
            li.jab <a href='javascri[t:;'>軟體工程師 - [Big Data]</a>
        form.row
          .form-group
            input.form-control(type='text', placeholder='Name')
          .form-group
            input.form-control(type='email', placeholder='Email')
          .form-group1
            .fileUpload.btns
              img(src='images/icons/upload.png', alt='image')
              span Attach your cv
              input.upload(type='file')
            button.btn.btn-orange(type='submit') Submit now
