section.section(class="team", id="team_Page", data-anchor="teamPage")
  .container
    .row
      .team-visual
        .row
          .team-fig
            .team-figs
              div
                .image-holder
              div
                .image-holder
            .team-figs
              div
                .image-holder
              div
                .image-holder
      .team-caption
        h3 team
        p 崇尚 F.L.A.G. 的工程師文化，鼓勵獨到的見解、激發創意。透過最有效率的溝通、以及最少的管理，來完成團隊任務。
        p 對於技術充滿熱情，持續在能力上精進，一起挑戰技術上的難題。
        p 沒有規定上下班時間，不用打卡，依照個人狀況自由地調整上下班時間與地點，以得到最高的產出。
        p 我們的組織非常扁平，每個人可以依據公司目標、工作優先順序、個人專長和興趣，主動參與討論並自行決定工作內容。
        p 在專案上注重敏捷式開發 (Scrum + Kanban)，迅速並確實地完成工作。
        a.team-btn.btn.btn-orange(href='javascript:;') View More