extends layouts/_default

block content
  // FullPage
  #fullpage.page-wrap
    section.section(class="home")
      | 01 home
    section.section(class="about")
      | 02 about
    section.section(class="service")
      | 03 service
    section.section(class="team")
      | 04 team
    section.section(class="blog")
      | 05 blog
    section.section(class="joinus")
      | 06 joinus
    section.section(class="contact")
      | 07 contact
