extends layouts/_default

block content
  // FullPage
  #fullpage.page-wrap
    section.section(class="home")
      .container
        .row
          | 01 home
    section.section(class="about")
      .container
        .row
          | 02 about
    section.section(class="service")
      .container
        .row
          | 03 service
    section.section(class="team")
      .container
        .row
          | 04 team
    section.section(class="blog")
      .container
        .row
          | 05 blog
    section.section(class="joinus")
      .container
        .row
          | 06 joinus
    section.section(class="contact")
      .container
        .row
          | 07 contact
