extends layouts/_default

//- mixin section_content(section_title)
//-   section.section(class="#{section_title}", id="#{section_title}_Page")
//-     .container
//-       .row
//-         div(class="#{section_title}" + "-visual")
//-         div(class="#{section_title}" + "-caption")
//-           h3= '('+ section_title +')'+' We are ????'
//-           h4
//-             | Subtitle
//-             +lipsum(2, "sentences")
//-           - for (var i = 0; i < 3; i++)
//-             p
//-               +lipsum(3, "sentences")


block content
  // FullPage
  #fullpage.page-wrap
    //- +section_content('home')
    //- +section_content('about')
    //- +section_content('service')
    //- +section_content('team')
    //- +section_content('joinus')
    //- +section_content('blog')

    include section/_home
    include section/_about
    //- include section/_service
    include section/_team
    include section/_join-us
    include section/_blog
    include section/_contact
